body
{
    background: #0f0f23;
    color: #cccccc;
    font-family: "Source Code Pro", monospace;
    font-size: 14pt;
}
#calendar-wrapper
{
    padding: 0 15px;
}

td.day
{
    height: 100px;
}

td.not-december
{
   background: #111;
   color: #999;
}

#title-bar
{
    background: transparent;
    border-radius: 0;
    margin-left: 15px;
    margin-right: 15px;
}
#title-bar a
{
    color: #00cc00;
    text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00
}

#title-bar a:hover, #title-bar a:focus
{
    color: #99ff99;
    text-shadow: 0 0 2px #99ff99, 0 0 5px #99ff99;
}

a
{
    color: #009900;
}

a:hover, a:focus
{
    color: #99ff99;
    text-decoration: none;
}